.moviescardlist{
    display: flex;
    flex-direction: column;
    padding: 70px 70px 80px;
}
.moviescardlist__cards{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(271px,319px));
    grid-template-columns: repeat(auto-fit, minmax(300px, 360px));
    justify-content: center;
    gap:32px;
}
.moviescardlist__button{
    margin: 50px 0 0;
    border: none;
    background-color: rgba(47, 47, 47, 1);
    font-family: Inter, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    color: white;
    border-radius: 6px;

}