.about-project{
    background-color: #202020;
}
.about-project__block{
    max-width: 1280px;
    margin: 0 auto;
    padding: 110px 70px;
    box-sizing: border-box;
}
.about-project__title{
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: white;
    border-bottom: solid 1px #DADADA;
    padding-bottom: 23px;
}
.about-project__info-block{
    margin: 70px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about-project__info-subblock{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.about-project__info-title{
    margin: 0 0 26px;
    font-family: Inter, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: white;
}
.about-project__info-text{
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: white;
    max-width: 550px;
}
.about-project__timebar{
    margin-top: 110px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.about-project__timbar-block{
    display: flex;
    flex-direction: column;
}
.about-project__bar{
    display: flex;
    min-height: 36px;
    margin-bottom: 14px;
}
.about-project__timebar-title{
    margin: auto;
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
}
.about-project__timebar-subtitle{
    margin: auto;
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    color: #8B8B8B;
}
.about-project__timebar-title_frontend{
    color: white;
}
.about-project__bar_backend{
    background-color: #3DDC84;
}
.about-project__bar_frontend{
    background-color: #303030;   
}
@media screen and (max-width: 768px) {
    .about-project__block{
        padding: 90px 50px;
    }
    .about-project__info-block{
        column-gap: 30px;
    }
    .about-project__info-text{
        font-size: 12px;
        line-height: 18px;
    }
    .about-project__info-title{
        margin-bottom: 22px;
    }
    .about-project__timebar{
        margin-top: 93px;
    }
}
@media screen and (max-width: 320px) {
    .about-project__block{
        padding: 70px 18px; 
    }
    .about-project__title{
        font-size: 18px;
        line-height: 21.78px;
        letter-spacing: -0.04em;
        padding-bottom: 28px;
    }
    .about-project__info-block{
        margin-top: 60px;
        flex-direction: column;
        row-gap: 56px;
    }
    .about-project__info-title{
        font-size: 18px;
        line-height: 21.78px;
        letter-spacing: -0.04em;
        margin-bottom: 16px;
    }
    .about-project__info-text{
        font-size: 11px;
        line-height: 16px;
    }
    .about-project__timebar{
        margin-top: 60px;
        grid-template-columns: 1fr 1.84fr;
    }
    .about-project__timebar-title{
        position: relative;
        top: 1px;
        font-size: 11px;
        line-height: 13px;
    }
    .about-project__bar{
        margin-bottom: 10px;
    }
    .about-project__timebar-subtitle{
        font-size: 11px;
        line-height: 13px;
    }
}