.aboutme{
    background-color: #202020;
}
.aboutme__block{
    margin: 0 auto;
    max-width: 1280px;
    padding: 110px 70px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.aboutme__name{
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: white;
    border-bottom: solid 1px #DADADA;
    padding-bottom: 23px;
    margin-bottom: 66px;
}
.aboutme__info-block{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.aboutme__info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.aboutme__title{
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: white;
    margin-bottom: 16px;
}
.aboutme__subtitle{
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: 26px;
}
.aboutme__subscription{
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    color: white;
    max-width: 600px;
}
.aboutme__avatar{
    max-width: 270px;
    height: 327px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.aboutme__link{
    align-self: flex-start;
    justify-self: flex-start;
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    color: white;
    text-decoration: none;
    transition: opacity .2s;
}
.aboutme__link:hover{
    opacity: .7;
}
@media screen and (max-width:768px) {
    .aboutme__block{
        padding: 90px 50px 0; 
    }
    .aboutme__title{
        font-size: 40px;
        line-height: 40px;
    }
    .aboutme__subtitle{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .aboutme__avatar{
        max-width: 255px;
        height: 307px;
    }
    .aboutme__subscription{
        font-size: 12px;
        line-height: 18px;
        max-width: 364px;
        margin-bottom: 87px;
    }
    .aboutme__info-block{
        flex-wrap: wrap-reverse;
    }
}
@media screen and (max-width:740px) {
    .aboutme__info-block{
        justify-content: center;
    }
}
@media screen and (max-width:320px) {
    .aboutme__block{
        padding: 70px 14px 0; 
    }
    .aboutme__name{
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.04em;
        padding-bottom: 28px;
        margin-bottom: 60px;      
    }
    .aboutme__avatar{
        margin: 0 auto;
        max-width: 292px;
        height: 352px;
    }
    .aboutme__title{
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.04em;
        margin-bottom: 20px;
    }
    .aboutme__info-block{
        gap: 40px
    }
    .aboutme__subtitle{
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0px;
    }
    .aboutme__subscription{
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0px;
        margin-bottom: 40px;
    }
}